#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
}

body {
    background-color: aquamarine;
    text-align: center;
}

footer{
    background-color: white;
    padding: 50px;
}

a:hover{
    background-color:saddlebrown ;
}

#main {
    background-color: gray;
    padding: 20px;
}